@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #f5f7fa;
    color: #333;
}

/*HEADER*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background: #fff;
}

.header a {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

/*HERO*/
.hero {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e9eef5;
    text-align: center;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 15px;
}

.hero p {
    margin-bottom: 20px;
}

.hero button {
    padding: 10px 20px;
    border: none;
    background: #3b82f6;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
}

.image {
    width: 500px;
    height: 500px;
}

/*SOBRE*/
.sobre {
    padding: 60px 20px;
    text-align: center;
}

/*Serviços*/
.servicos {
    padding: 60px 20px;
    background: #fff;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.card {
    background: #f5f7fa;
    padding: 20px;
    width: 220px;
    border-radius: 10px;
}

/*FOOTER*/
.footer {
    background: #111827;
    color: #fff;
    text-align: center;
    padding: 20px;
}